/NSass.LibSass/NSass.LibSass.vcxproj.filters
/NSass.LibSass/NSass.LibSass.vcxproj.user
/NSass.Wrapper/NSass.Wrapper.vcxproj.filters
/NSass.Wrapper/NSass.Wrapper.vcxproj.user
/NSass.opensdf
/NSass.sdf
/NSass.v11.suo
/NSass.sln.DotSettings.user
/NSass.Core/obj/
/NSass.LibSass/obj/
/NSass.Wrapper/obj/
/bin/
