/Debug
/NSass.LibSass/Debug
/NSass.Wrapper/Debug
/NSass.LibSass/NSass.LibSass.vcxproj.filters
/NSass.LibSass/NSass.LibSass.vcxproj.user
/NSass.Wrapper/NSass.Wrapper.vcxproj.filters
/NSass.Wrapper/NSass.Wrapper.vcxproj.user
/NSass.opensdf
/NSass.sdf
/NSass.v11.suo

/x64

/NSass.Wrapper/x64
/NSass.LibSass/x64
